.main-grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr;
}

.search-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 6fr;
}

.scheduler-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.hidden-overflow-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  
  td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col-timestamp {
    width: 160px;
  }

  .col-small {
    max-width: 80px;
    width: 15%;
  }

  .col-medium {
    width: 25%;
  }

  .col-large {
    width: 40%;
  }
}

.search-input {
  font-size: 2em !important;
}

.btn-circle {
  border-radius: 30px;
}

.center-line {
  td, th {
    line-height: 2.5em;
  }
}


$limits: (30, 40, 50);
@each $limit in $limits {
  .table-limit-#{$limit} {
    overflow: auto;
    max-height: #{$limit}vh;
  }
}